.container {
    width: min(100%, 1440px);
    margin: auto;
    padding-top: 123.5px;
}

/* Header */
header {
    background-color: #2E0230;
    padding: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: inherit;
}

header ul {
    display: flex;
    column-gap: 100px;
}

header a {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
}

.active {
    color: #F30AEA;
}

.header_buttons {
    display: flex;
    column-gap: 8px;
}

.header_buttons button {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
    border: 1px solid #F30AEA;
    background-color: transparent;
    border-radius: 8px;
    transition: all 0.5s ease;

}

.login_button {
    width: 84px;
    height: 42px;
}

.cart_button {
    width: 42px;
    height: 42px;
}

.header_buttons button:hover {
    border: none;
    background-color: #F30AEA;
    cursor: pointer;
}

/* Section */
.main_section {
    display: flex;
    padding-block: 64px;
    background: url(../images/background.png) center/cover;
    background-repeat: no-repeat;
}

.contact_section {
    margin: auto;
    padding: 48px calc(200 / 1440 * 100%);
    background-color: #1C1325CC;
    border-radius: 20px;
    border: 1px solid #B052B5C9;
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    align-items: center;
}

.contact_section h2 {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 4px;
    color: #FFFFFF;
    text-shadow: 2px 4px 4px #F90CEFB5;

}

form {
    /* background-color: #dd8e8e; */
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

/* Name and Email textbox */
.name_box {
    display: flex;
    column-gap: 24px;
}

input[type=text] {
    width: 100%;
    padding: 11px 22px;
    border-radius: 8px;
    border: 1px solid #B052B5;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    background-color: transparent;
    color: #FFFFFF
}

/* Radiobox */
.contact_section h3 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.radio_box {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.radio_box div {
    display: flex;
    column-gap: 8px;
    align-items: center;
}

input[type=radio] {
    appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid #F30AEA;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

input[type=radio]:checked::before {
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    background-color: #F30AEA;
    border-radius: 50%;
}

.radio_box label {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #B052B5;
}

/* More details textarea */
.contact_section h4 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

textarea {
    width: 100%;
    height: 112px;
    padding: 11px 22px;
    border-radius: 8px;
    border: 1px solid #B052B5;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #9E8D9E;
    background-color: transparent;
}

/* Newsletter checkbox */
.checkbox_box {
    display: flex;
    column-gap: 16px;
    margin-bottom: 16px;
}

/* checkbox styles here */
input[type=checkbox] {
    appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid #F30AEA;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=checkbox]:checked::before {
    content: "\f00c";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #F30AEA;
}

.checkbox_box label {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #FFFFFF;
}

/* Button */
.contact_section button {
    width: 100%;
    height: 64px;
    top: 504px;
    padding: 19px;
    border-radius: 16px;
    background-color: #F30AEA;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}